# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env/
.venv/
env/
venv/

# Poetry
poetry.lock

# DVC
*.dvc
.dvc/
data/*

# IDE/editor config
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env

# local documentation
my_docs/
local_docs/